[submodule "apps/qtcloud-code"]
	path = apps/qtcloud-code
	url = https://github.com/quanttide/qtcloud-code.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-software-engineering.git
[submodule "docs/report"]
	path = docs/report
	url = https://github.com/quanttide/quanttide-report-of-software-engineering.git
[submodule "apps/qtcloud-devops"]
	path = apps/qtcloud-devops
	url = https://github.com/quanttide/qtcloud-devops.git
